streamlit
streamlit-authenticator
pillow
pymongo
python-Levenshtein
fuzzywuzzy
streamlit-modal
colorama
google-cloud-firestore
streamlit_extras
pydantic
pydantic-settings
streamlit-pydantic
plotly-express
datamodel-code-generator

