altair==5.2.0 
annotated-types==0.6.0 
bcrypt==4.1.2 
beautifulsoup4==4.12.3 
bokeh==3.4.0 
bs4==0.0.2 
colorama==0.4.6 
cryptography==42.0.5 
cython==3.0.9 
datamodel-code-generator==0.25.4 
deprecation==2.1.0 
distro==1.9.0 
dnspython==2.6.1 
email-validator==2.1.1 
entrypoints==0.4 
exceptiongroup==1.2.0 
extra-streamlit-components==0.1.71 
faker==24.1.0 
favicon==0.7.0 
filelock==3.13.1 
firebase-admin==6.5.0 
firebase==4.0.1 
fonttools==4.49.0 
fsspec==2024.3.1 
future==1.0.0 
fuzzywuzzy==0.18.0 
gax-google-logging-v2==0.8.3 
gax-google-pubsub-v1==0.8.3 
gcloud==0.18.3 
genson==1.2.2 
gitdb==4.0.11 
gitpython==3.1.42 
google-api-core==2.17.1 
google-api-core[grpc]==2.17.1 
google-api-python-client==2.122.0 
google-auth-httplib2==0.2.0 
google-auth==2.28.2 
google-cloud-core==2.4.1 
google-cloud-firestore==2.15.0 
google-cloud-storage==2.15.0 
google-crc32c==1.5.0 
google-gax==0.12.5 
google-resumable-media==2.7.0 
googleapis-common-protos==1.63.0 
grpc-google-logging-v2==0.8.1 
grpc-google-pubsub-v1==0.8.1 
grpcio-status==1.62.1 
grpcio==1.62.1 
h11==0.14.0 
htbuilder==0.6.2 
httpcore==1.0.4 
httplib2==0.22.0 
httpx==0.27.0 
huggingface-hub==0.21.4 
idna==3.6 
importlib-metadata==7.1.0 
importlib-resources==6.3.0 
inflect==5.6.2 
isort==5.13.2 
jinja2==3.1.3 
jsonschema-specifications==2023.12.1 
jsonschema==4.21.1 
jwcrypto==1.5.6 
kiwisolver==1.4.5 
levenshtein==0.25.0 
loguru==0.7.2 
lxml==5.1.0 
markdown-it-py==3.0.0 
markdown==3.5.2 
markdownlit==0.0.7 
markupsafe==2.1.5 
matplotlib==3.8.3 
mdurl==0.1.2 
more-itertools==10.2.0 
mouseinfo==0.1.3 
msgpack==1.0.8 
mypy-extensions==1.0.0 
numpy==1.26.4 
oauth2client==4.1.3 
openai==1.14.2 
packaging==23.2 
pandas==2.2.1 
pathspec==0.12.1 
patsy==0.5.6 
pillow==10.2.0 
platformdirs==4.2.0 
plotly-express==0.4.1 
plotly==5.19.0 
ply==3.8 
prometheus-client==0.20.0 
proto-plus==1.23.0 
protobuf==4.25.3 
pyarrow==15.0.1 
pyasn1-modules==0.3.0 
pyasn1==0.5.1 
pyautogui==0.9.54 
pycparser==2.21  
pycryptodome==3.20.0 
pydantic-core==2.16.3 ;
pydantic==2.6.4 
pydantic[email]==2.6.4
pydantic-settings 
pydeck==0.8.0 
pyee==11.1.0 
pygetwindow==0.0.9 
pygments==2.17.2 
pyjwt==2.8.0 
pyjwt[crypto]==2.8.0 
pymdown-extensions==10.7.1 
pymongo==4.6.2 
pymsgbox==1.0.9 
pyobjc-core==10.1  
pyobjc-framework-cocoa==10.1  
pyobjc-framework-quartz==10.1 
pyparsing==3.1.2 
pyperclip==1.8.2 
pyppeteer==2.0.0 
pyrebase4==4.6.0 
pyrect==0.2.0 
pyscreeze==0.1.30 
python-dateutil==2.9.0.post0 
python-dotenv==1.0.1 
python-gedcom==1.0.0 
python-jwt==4.1.0 
python-levenshtein==0.25.0 
python3-xlib==0.15 
pytweening==1.2.0 
pytz==2024.1 
pyyaml==6.0.1 
rapidfuzz==3.6.2 
referencing==0.33.0 
regex==2023.12.25 
requests-toolbelt==1.0.0 
requests==2.31.0 
rich==13.7.1 
rpds-py==0.18.0 
rsa==4.9 
rubicon-objc==0.4.7 
safetensors==0.4.2 
scipy==1.12.0 
screeninfo==0.8.1 
six==1.16.0 
smmap==5.0.1 
sniffio==1.3.1 
soupsieve==2.5 
sseclient==0.0.27 
st-annotated-text==4.0.1 
statsmodels==0.14.1 
streamlit-authenticator-mongo==0.1.5 
streamlit-base-extras==0.2.45 
streamlit-bokeh3-events==0.1.4 
streamlit-camera-input-live==0.2.0 
streamlit-card==1.0.0 
streamlit-datetime-picker==0.0.2 
streamlit-embedcode==0.1.2 
streamlit-extras==0.4.0 
streamlit-faker==0.0.3 
streamlit-image-coordinates==0.1.6 
streamlit-javascript==0.1.5 
streamlit-js-eval==0.1.7 
streamlit-keyup==0.2.3 
streamlit-modal==0.1.2 
streamlit-pydantic @ git+https://github.com/JacobHayes/streamlit-pydantic.git@99aea848d2b8c8301cf8622fe57aaf0c59c7a176 
streamlit-toggle-switch==1.0.2 
streamlit-vertical-slider==2.5.5 
streamlit==1.32.1 
tenacity==8.2.3 
tokenizers==0.15.2 
toml==0.10.2 
tomli==2.0.1 
toolz==0.12.1 
tornado==6.4 
tqdm==4.66.2 
transformers==4.39.0 
typing-extensions==4.10.0 
tzdata==2024.1 
uritemplate==4.1.1 
urllib3==1.26.18 
vadersentiment==3.3.2 
watchdog==4.0.0
websockets==10.4 
win32-setctime==1.1.0  
xyzservices==2023.10.1 
zipp==3.18.1 
